*.swp
*.swo
composer.lock
package-lock.json
vendor/
node_modules/
.DS_Store
logs/
log/
*.log
cache/
views_c/
public/sitemap*
yarn-error.log
yarn.lock
screenlog.*
!.gitkeep
__pycache__*
*.pyc
pnpm-lock.yaml
.gradle
build
tmpl_c
.svelte-kit
org.eclipse.buildship.core.prefs
pnpm-workspace.yaml
